@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,body {
    height: 100%;
    width: 100%;
    background-image: rgb(206, 110, 110);
 font-family: 'Epilogue';
 margin: 0;
 padding: 0;
}
.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: url("../../photos/tlo.png") no-repeat center center fixed;
    background-size: cover;  
}
.head,.footer {
    width: 100%;
    height: 20%;
}
.head{
    display: flex;
    flex-direction: column;

}
.top,.bottom {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top {
 font-size: 200%;

}

.bottom img{
    height: 70%;
    width: auto;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 100% !important;
    height: auto;
    padding: 0 !important;
    margin: 0 !important;
}

.contact-us {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  height: 75vh;
  background-color: white;
}

.pitch-us, .contact-info {
  padding: 0;
  padding-top: 3.5em;
  padding-bottom: 3.5em;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pitch-us {
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.pitch-us, .contact-info .title {
  font-size: 1.5em;
  padding-top: 5em;
}

.contact-description{
  font-size: 1.2em;
  font-weight: 400;
}

.pitch-us {
  background-color: rgb(211, 211, 211);
}

.map {
  filter: grayscale(100%) invert(92%) contrast(83%);
}

.title {
  color:#00bda6;
}

.left {
    text-align: center;
    padding: 20px;
  width: 50%;
  height: 100%;
}
.right {
    display: flex;
    flex-direction: row;
    gap: 1.2em;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: flex-start;
    color: black;
  padding: 0.8em .4em;
  background-color: white;
}
.footer {
    background-color: snow;
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .ftop{
  margin: 0 auto;
  padding: 0;
  height: 50%;
  width: 1000px;
  display: flex;
  flex-direction: row;
  
  }
  .fleft {
   height: 100%;
   width: max-content;
   padding: 0;
   margin: 0;
   display: flex;
   flex-direction: column;
  }
  
  .fleft h1,.contact-description i{
    color: #00bda6;
  }
  .fleft a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
    
  
  }
  
  
  .fright {
    height: 100%;
    width: 50%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; 
    align-items:flex-end
  }
  
  
  .fright p {
    font-size:150%;
    color: black;
    font-weight: bold;
  }
  
  
  
  .fdown {
    width: 1000px;
    margin: 0 auto;
    font-size: 60%;
    height: 50%;
    border-top: 2px;
    
  }
  .contact {
    border-radius:50px;
    background-color: black; 
    border: none;
    color: white;
    padding: 16px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 1s;
    cursor: pointer;
  }
  
  .contact1 {
    background-color: black; 
    color: white; 
    border: 2px solid black;
  }
  
  .contact1:hover {
    background-color: white;
    color: black;
  }
  .mySlides img{
    object-fit: cover;
    width:1000px;
    height: 600px;
  }
  @media only screen and (max-width: 500px){
    .contact-us {
      display: flex;
      height: max-content;
      flex-direction: column;
      background-color: white;
    }
    .map {
      height: 300px;
    }
  }